/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* basic */
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* Cnt */
.cnt {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(/img/zoom-gallery-back-img.png) center center no-repeat;
  background-size: cover;
  min-height: 400px;
}

/* Carousel Btn  */
.carousel-control-button {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  transition: 5s;
}

.carousel-control-button:hover {
  background-color: black;
  color: white;
}

/* Custom-Carousel */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.custom-carousel .carousel-item h5 {
  padding: 12px 12px;
}

.gallery-carousel .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
  margin: 0 10px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 55px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  font-size: 25px;
  transition: 0.5s;
}

.gallery-carousel .owl-nav .owl-prev:hover,
.gallery-carousel .owl-nav .owl-next:hover {
  background: #000;
  color: white;
}

.gallery-carousel a {
  text-decoration: none;
}

/* Section Title */
.section-title {
  position: relative;
  padding-bottom: 2rem;
}
/* iframe */
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* 부모 컨테이너의 가로 너비를 100%로 설정 */
  padding-top: 56.25%; /* 16:9 비율을 유지하기 위한 값 (16 / 9 * 100%) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .section-title::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #9fc379;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  bottom: -13px;
  left: calc(25% - 13px);
  background: #000;
  border: 10px solid #ffffff;
  border-radius: 28px;
}

.section-title.text-center::before {
  left: 25%;
}

.section-title.text-center::after {
  left: calc(50% - 13px);
} */

/* 모달 스타일 */
.modal {
  display: none;
  position: fixed;
  z-index: 999999999;
  padding: 20px; /* 모달 내부 여백 조정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal-content {
  max-width: 60%;
  max-height: 60%;
  display: inline-block;
  margin-top: 10%;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.open-modal {
  cursor: pointer;
}

/* 이미지 스타일 */
.gallery-item {
  position: relative;
  display: inline-block;
}

/* 모달 반응형 스타일 */
@media (max-width: 1024px) {
  .cnt {
    min-height: 300px;
  }
  .modal-content {
    top: 10px;
  }
  .modal-close {
    z-index: 999999;
  }
  .cnt .container h1 {
    margin-top: -60px;
  }
}
@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
    max-height: 90%;
    top: 200px;
  }
  .modal-close {
    top: 240px;
    right: 20px;
  }
}

@media (max-width: 425px) {
  .modal-content {
    max-width: 95%;
    max-height: 95%;
    top: 150px;
  }

  .modal-close {
    font-size: 20px;
    top: 180px;
    right: 10px;
  }
}
