/* Font */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* basic */
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

/* Cnt */
.cnt {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(/img/zoom-business-back-img.png) center center no-repeat;
  background-size: cover;
  min-height: 450px;
}

/* Tab */
#myTab {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#myTab .nav-item {
  margin: 0;
}

#myTab .nav-link {
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  font-size: 22px;
  text-align: center;
}

#myTab .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

#myTab .nav-link.active {
  background-color: #fff;
  color: #000;
}

/* Tab-1 Cotent-1 마우스 오버 */
.info-item .info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
  color: #fff;
}

.info-item .info-overlay h4 {
  padding: 20px;
}

.info-item:hover .info-overlay {
  opacity: 1;
}

.info-item .info-overlay::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #fff;
}

/* Tab-2 Content-2 마우스오버 설정 */
.image-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font-size: 40px;
  font-weight: bold;
}

.company-item:hover .image-overlay {
  opacity: 1;
}

.custom-list h4::before {
  content: "• ";
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .cnt {
    min-height: 300px;
  }
  .cnt .container h1 {
    margin-top: -60px;
  }
}
